# SQLite files
*.sqlite3

# Python base files
*.pyc

# SQL backup dumps
/sqldumps/

# Hide local settings files
/local_settings/
config.py

# Hide static files
/static/

# Hide local settings file
/t4krms/local_settings.py

# Mac files
*.DS_Store
