<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> {% block title %} Texas 4000 Rider Management System | Dashboard {% endblock %}</title>
    {% load datetime_duration %}
    <!-- Stylesheets -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://s3.amazonaws.com/t4krms/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="//static.t4k2015.com/fixnav.css">
    <link rel="stylesheet" type="text/css" href="//static.t4k2015.com/datepicker3.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href={% url 'dashboard:dashboard' %}>Texas 4000 RMS</a>
        </div>
        <div class="navbar-collapse collapse">
          {% block navbar %}
          <ul class="nav navbar-nav">
            <li><a href="{% url 'dashboard:dashboard' %}">Home</a></li>
            {% if not user.is_anonymous %}
		    <li class="dropdown">
		      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Fitness <b class="caret"></b></a>
		      <ul class="dropdown-menu">
		  	    <li><a href="{% url 'fitness:rides' %}">Rides</a></li>
                <li><a href="{% url 'fitness:log' %}">Log Ride</a></li>
		      </ul>
		    </li>
		    <li class="dropdown">
		      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tools <b class="caret"></b></a>
		      <ul class="dropdown-menu">
				<li class="dropdown-header">Short Link</li>
				<li><a href="{% url 'links:settings' %}">Settings</a></li>
		      </ul>
		    </li>
            {% endif %}
          </ul>
		  <ul class="nav navbar-nav navbar-right">
		    {% if not user.is_anonymous %}
		    {% if user.is_staff %}
		    <li><a href="{% url 'admin:index' %}">Admin</a><li>
		    {% endif %}
		    <li><a href="{% url 'dashboard:team_stats' %}">Team Stats</a></li>
		    <li><a href="{% url 'dashboard:logout' %}">Logout</a></li>
		    {% endif %}
		  </ul>
          {% endblock %}
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div class="container">
      {% block content %} {% endblock %}
    </div>
	
	

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//static.t4k2014.com/bootstrap-datepicker.js"></script>
    <script>
      $(document).ready(function () {
        $('#date').datepicker({
          format: "yyyy-mm-dd",
          todayHighlight: true,
          autoclose: true,
          startDate: '-7d',
          endDate: '0d'
        })
      })
    </script>
	{% block additional_scripts %} {% endblock %}
  </body>
</html>
