{% extends "base.html" %}

{% block navbar %}
<ul class="nav navbar-nav">
  <li><a href="{% url 'dashboard:dashboard' %}">Home</a></li>
  {% if not user.is_anonymous %}
  <li><a href="{% url 'dashboard:log_ride' %}">Log Ride</a></li>
  {% endif %}
</ul>
<ul class="nav navbar-nav navbar-right">
  {% if not user.is_anonymous %}
  <li class="active"><a href="{% url 'dashboard:change_password' %}">Change Password</a></li>
  <li><a href="{% url 'dashboard:logout' %}">Logout</a></li>
  {% endif %}
</ul>
{% endblock %}

{% block content %}
<div class="page-header">
  <h1>Change Password</h1>
</div>
{% if error_message %}
<div class="alert alert-danger alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <p>{{ error_message }}</p>
</div>
{% endif %}
<form class="form-horizontal" role="form" method="post" action="{% url 'dashboard:change_password' %}">
  {% csrf_token %}
  <div class="form-group">
    <label for="password1" class="col-sm-4 control-label">New Password</label>
    <div class="col-sm-5">
      <input type="password" class="form-control" name="password1" id="password1" required>
    </div>
  </div>
  <div class="form-group">
    <label for="password2" class="col-sm-4 control-label">Confirm New Password</label>
    <div class="col-sm-5">
      <input type="password" class="form-control" name="password2" id="password2" required>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-5">
      <button type="submit" class="btn btn-primary btn-lg btn-block">Change it!</button>
    </div>
  </div>
</form>
{% endblock %}
