{% extends "base.html" %}

{# TODO: I don't understand why I have to load it again =/ #}
{% load datetime_duration %}

{% block content %}
{% if success_message %}
<div class="alert alert-success alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <p>{{ success_message }}</p>
</div>
{% endif %}

<div class="page-header">
  <h1>{{ rider.get_full_name }}'s Dashboard</h1>
</div>
<div class="row">
  <div class="col-sm-4">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Basic Information</h3>
      </div>
      <ul class="list-group">
        <li class="list-group-item">Name: {{ rider.get_full_name }}</li>
        <li class="list-group-item">Email: {{ rider.get_email }}</li>
        <li class="list-group-item">Title: {{ rider.get_title }}</li>
        <li class="list-group-item">Route: {{ rider.route|title }}</li>
        <li class="list-group-item">Date of Birth: {{ rider.get_dob }}</li>
      </ul>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Fitness Summary</h3>
      </div>
      <ul class="list-group">
        <li class="list-group-item">Total Miles: {{ miles.miles__sum }}</li>
        <li class="list-group-item">Total Time Ridden: {{ duration.duration__sum|timedelta }}</li>
        <li class="list-group-item">Average Pace: {{ pace.pace__avg }} {% if pace.pace__avg%}mph{% endif %}</li>
      </ul>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Short Link Summary</h3>
      </div>
      <ul class="list-group">
        <li class="list-group-item">Kintera Link: t4k2105.com/donate/{{ link.url }}</li>
        <li class="list-group-item">Profile Link: t4k2105.com/rider/{{ link.url }}</li>
        <li class="list-group-item">Total Clicks: {{ link.clicks }}</li>
		<li class="list-group-item">Last Click: {{ link.last_click }}</li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
