{% extends "base.html" %}

{# TODO: I don't understand why I have to load it again =/ #}
{% load datetime_duration %}

{% block navbar %}
<ul class="nav navbar-nav">
  <li class="active"><a href="{% url 'dashboard:dashboard' %}">Home</a></li>
  {% if not user.is_anonymous %}
  <li><a href="{% url 'dashboard:log_ride' %}">Log Ride</a></li>
  {% endif %}
</ul>
<ul class="nav navbar-nav navbar-right">
  {% if not user.is_anonymous %}
  <li><a href="{% url 'dashboard:change_password' %}">Change Password</a></li>
  <li><a href="{% url 'dashboard:logout' %}">Logout</a></li>
  {% endif %}
</ul>
{% endblock %}

{% block content %}
<div class="page-header">
  <h1>{{ rider.get_full_name }}'s Dashboard</h1>
</div>
<div class="row">
  <div class="col-sm-4">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Basic Information</h3>
      </div>
      <ul class="list-group">
        <li class="list-group-item">Name: {{ rider.get_full_name }}</li>
        <li class="list-group-item">Email: {{ rider.get_email }}</li>
        <li class="list-group-item">Title: {{ rider.get_title }}</li>
        <li class="list-group-item">Route: {{ rider.route|title }}</li>
        <li class="list-group-item">Date of Birth: {{ rider.get_dob }}</li>
      </ul>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Fitness Summary</h3>
      </div>
      <ul class="list-group">
        <li class="list-group-item">Total Miles: {{ miles.miles__sum }}</li>
        <li class="list-group-item">Total Time Ridden: {{ duration.duration__sum|timedelta }}</li>
        <li class="list-group-item">Average Pace: {{ pace.pace__avg }} {% if pace.pace__avg%}mph{% endif %}</li>
      </ul>
    </div>
  </div>
</div>
<div class="rides_header">
  <h1> {{ rider.get_short_name }}'s Ride Log </h1>
  <hr />
</div>
<div class="row">
  {% for ride in rides %}
  <div class="col-sm-6 ride">
    <h3> {{ ride.date }} </h3>
    <p> <strong>{{ ride.miles }}</strong> miles at a pace of <strong>{{ ride.pace }} mph</strong>, and it took <strong>{{ ride.duration }} hours </strong>.</p>
    <p> Rode With: {{ ride.buddies }} </p>
    <blockquote> <p> {{ ride.comments }} </p> </blockquote>
  </div>
  {% endfor %}
</div>
{% endblock %}
